<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice Application</title>
</head>
<body>
    <h1>Betrayal Roll</h1>
    <h2>Might Roll</h2>
    <p>Your might roll is {{n_1}}</p>

    <h2>Speed Roll</h2>
    <p>Your might roll is {{n_2}}</p>

    <h2>Knowledge Roll</h2>
    <p>Your might roll is {{n_3}}</p>

    <h2>Sanity Roll</h2>
    <p>Your might roll is {{n_4}}</p>
    
</body>
</html>