<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detection</title>
</head>
<body>
    <h1>Spam Detection Tool</h1>
    <p>The following tool will help you predict if the message you recieved is spam or not</p>
    <p>Please enter your text below</p>
    <form action="/spam-result" method="POST">
        <label for="message">Message Text</label>
        <input id="message" type="text" name="message">
        <br />

        <input type="button"  value="Submit" size="120" />
        <p style="color:red">We have style!</p>
    </form>
</body>
</html>